<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FindMyCamp Admin</title>
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stars.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("../partials/adminNavbar") %>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column pt-4">

                <!-- Main Content -->
                <div id="content">

                    <!-- Begin Page Content -->
                    <div class="container">

                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Manage Reviews</h1>
                        </div>

                        <%- include('../partials/flash') %>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="card shadow mb-4">
                                        <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <% campground.images.forEach( (img, i)=> { %>
                                                    <!-- add active class to first image with index 0 -->
                                                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                                        <img src="<%= img.url %>" style="max-height: 250px !important;"
                                                            class="d-block w-100" alt="...">
                                                    </div>
                                                    <% }) %>
                                            </div>
                                            <% if(campground.images.length> 1){ %>
                                                <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#campgroundCarousel" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                    data-bs-target="#campgroundCarousel" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                                <% } %>
                                        </div>
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">
                                                <%= campground.title %>
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <i class="text-gray-800">Description: </i>
                                            <%= campground.description %>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <i class="text-gray-800">Price: </i>
                                                ₹<%= campground.price %>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="text-gray-800">Location: </i>
                                                <%= campground.location %>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="text-gray-800">Author: </i>
                                                <%= campground.author.username %>
                                            </li>
                                        </ul>
                                        <div class="card-body">
                                            <i class="text-gray-800">Created At: </i>
                                            <%= campground.createdAt %>
                                        </div>
                                    </div>
                                    <a href="/admin/campgrounds/reviews">Go back</a>
                                    <div class="mb-4"></div>
                                </div>

                                <!-- SECOND SECTION -->
                                <% if(campground.reviews.length){ %>
                                    <div class="col-12 col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">Reviews</h6>
                                            </div>
                                            <% for(review of campground.reviews){ %>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <h6 class="text-gray-800">
                                                            <i>
                                                                <% var
                                                                    nameFirstLetter=review.author.username.charAt(0).toUpperCase()
                                                                    %>
                                                                    <%= review.author.username.replace(review.author.username.charAt(0),
                                                                        nameFirstLetter) %>
                                                            </i>
                                                        </h6>
                                                        <p class="starability-result"
                                                            data-rating="<%= review.rating %>">
                                                            Rated: <%= review.rating %> stars
                                                        </p>
                                                        <%= review.body %>
                                                            <form style="float: right;" class="d-inline"
                                                                action="/admin/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                                                method="POST">
                                                                <!-- <button class="card-link btn btn-danger">Delete</button> -->
                                                                <button class="btn btn-danger btn-circle btn-sm ml-1">
                                                                    <!-- <span class="text">Reject</span> -->
                                                                    <i class="fas fa-trash"></i>
                                                                </button>
                                                            </form>
                                                    </li>

                                                </ul>
                                                <% } %>

                                        </div>
                                        <div class="mb-4"></div>
                                    </div>
                                    <% }else{ %>
                                        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                                            <div class="mb-4">
                                                <h1 class="h4 mb-0 text-gray-800">No reviews yet</h1>
                                            </div>
                                        </div>
                                        <% } %>
                            </div>


                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <%- include("../partials/adminFooter") %>

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>